{% include 'base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>CoffeeCulture</title>
</head>
<body>
   
    {% csrf_token %}

<div class="row row-cols-1 row-cols-md-3 g-4" style="text-align: center;width: 80%;margin-left: 10%;margin-top: 1%;">

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">

    <div class="col">
      <div class="card">
        <img src="https://i.pinimg.com/originals/52/92/9e/52929ecc0eb2fe64e6db0836ddf39b3c.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Nunix Coffee Maker Machine 12 Cups, 3 colors</h6>
          <h6 class="card-title">USD 40</h6>
        </div>
      </div>
    </div>

  </div>
  <div class="flip-card-back">
    <p>Dolce Gusto Nescafe Mini Me Red Coffee Maker</p> 
  </div>
</div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">

    <div class="col">
      <div class="card">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f867194e-9648-4f51-b700-e29e9bd76b4b/deaeh8u-cbdec553-b1d8-47ee-9bc4-590a97983ca6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y4NjcxOTRlLTk2NDgtNGY1MS1iNzAwLWUyOWU5YmQ3NmI0YlwvZGVhZWg4dS1jYmRlYzU1My1iMWQ4LTQ3ZWUtOWJjNC01OTBhOTc5ODNjYTYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.vmTO6ejiAAq5AtunNy6ipVp9gOpyBTLK4jUgX7_rqMo" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Coffee Machine Electric Oven Toasted Bread Coffee Maker</h6>
          <h6 class="card-title">USD 35</h6>
        </div>
      </div>
    </div>

  </div>
  <div class="flip-card-back">
    <p>Dolce Gusto Nescafe Mini Me Red Coffee Maker</p> 
  </div>
</div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">

    <div class="col">
      <div class="card">
        <img src="https://i.pinimg.com/originals/25/81/0f/25810f0c4bd9ae5a1ce915f3962148dc.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Dolce Gusto Nescafe Mini Me Coffee Maker</h6>
        </div>
      </div>
    </div>

  </div>
  <div class="flip-card-back">
    <p>Dolce Gusto Nescafe Mini Me Red Coffee Maker</p> 
  </div>
</div>
</div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4" style="text-align: center;width: 80%;margin-left: 10%; margin-top: 1%;">

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">

    <div class="col">
      <div class="card">
        <img src="https://i.pinimg.com/originals/47/45/3c/47453c436d904327e9ecc5472be4e39e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Delonghi BCO320 Combi Coffee Maker</h5>
          <h6 class="card-title">USD 60</h6>
        </div>
      </div>
    </div>
<!-- lllllllllllllllll -->
  </div>
  <div class="flip-card-back">
    <p>Dolce Gusto Nescafe Mini Me Red Coffee Maker</p> 
  </div>
</div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">

    <div class="col">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwoo-aVhdPJhsOh0FDTkYDEYImlDBVmpBpToamynijx67u6dwuCRDws7LjBj1FVbz-vrI&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kenwood CTP10.000BR Coffee Maker</h5>
          <h6 class="card-title">USD 45</h6>
        </div>
      </div>
    </div>

  </div>
  <div class="flip-card-back">
    <p>Dolce Gusto Nescafe Mini Me Red Coffee Maker</p> 
  </div>
</div>
</div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">

    <div class="col">
      <div class="card">
        <img src="https://thegadgetflow.com/wp-content/uploads/2021/06/Ninja-Specialty-Coffee-Maker-01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h6 class="card-title">USD 25</h6>

        </div>
      </div>
    </div>

  </div>
  <div class="flip-card-back">
    <p>Dolce Gusto Nescafe Mini Me Red Coffee Maker</p> 
  </div>
</div>
</body>
</html>